@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Sono:wght@300&display=swap');

body {
    background-color: #c3c3c3;
}

#header {
    width: 100%;
    height: 10%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: 'Nunito Sans', sans-serif;
    
}

#header h1 {
    font-size: 40px;
    text-align: center;
    color: #4c6ebb;
}

#header p {
    font-size: 20px;
    text-align: center;
}

.can {
    width: 90%;
    height: auto;
    display: grid;
    
}

#jump {
    width: 90px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 5px;
    position: relative;
    margin-left: 45%;   
    font-family: 'Nunito Sans', sans-serif;
    font-size: 23px;
}

canvas {
    width: 600px;
    height: 400px;
    background-color: black;
}
